#Environment Variables to be set
#db.url:
#db.user:
#db.pass:

spring:
  liquibase:
    change-log: classpath:liquibase/00000000000000_initial_schema.xml
  datasource:
    url: ${db.url:jdbc:postgresql://localhost/postgres}
    username: ${db.user:postgres}
    password: ${db.pass:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
server:
  port: 8082